@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(11, 26, 51);
  color: white;
}
a{
  font-size: 18px;
  font-weight: 600;
}

.right img{
  animation-name: BannerImg;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


@keyframes BannerImg{
  0%{
    border-color: blue;
    transform: translate(0,0);
    box-shadow: 10px 10px 50px 20px blue;
  }
  25%{
    border-color: yellow;
    box-shadow: 10px 10px 50px 20px yellow;
  }
  50%{
    border-color: green;
    transform: translate(0,10px);
    box-shadow: 10px 10px 50px 20px blue;
  }
  75%{
    border-color: red;
    box-shadow: 10px 10px 50px 20px red;
  }
  100%{
    border-color: white;
    transform: translate(0,0);
    box-shadow: 10px 10px 50px 20px white;
  }
}

/* .projectBtn{
  padding: 4px 10px;
  border 
} */

